* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

.navbar {
    background: hwb(300 40% 41%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}
.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo {
    background-size: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}
.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar_item {
    height: 80px;
}
.navbar_links {
    color: aqua;
    display: flex;
    align-items: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
}

.navbar_links:hover {
    color: rgb(86, 25, 25);
}
.column__left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.column__left h1 {
    font-size: 30px;
}
.column__left p {
    font-size: 20px;
    line-height: 2.3;
}
.profile__image {

    width: 200px;
    height: 300px;
}

@media screen {max-width: 960px) {
    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
}
    
}

.resume {
    padding: 60 px 60px;
    background: rgb(92, 92, 135);
}
.resume_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.resume_container h1 {
    font-size: 30px;
}
.resume_container resume ::content{
    grid-template-columns: 1fr ;
}
.resume_container p {
    display: grid;
    grid-template-columns: 1fr 1fr ;
}